@import "../../scss/variables.scss";

.wrapper {
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid rgba($color: #333, $alpha: 0.2);
  box-shadow: 0 1px 15px 0 rgba($color: #333, $alpha: 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  width: 100%;

  a {
    text-decoration: none;
    color: #333;
  }

  #profile-icon {
    $profile-icon-size: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $profile-icon-size;
    width: $profile-icon-size;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    font-weight: 800;
    color: rgba($color: #333, $alpha: 0.3);
    font-size: 1.5em;
    margin: 10px;

    cursor: pointer;

    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

    &:hover {
      color: rgba($color: #333, $alpha: 0.5);
      border: 1px solid rgba($color: #333, $alpha: 0.5);
    }
  }

  #logo-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    font-weight: 500;
    font-size: 1.1em;
  }

  .main-nav {
    flex-grow: 6;
  }

  .profile-nav {
    flex-grow: 2;
    justify-content: flex-end;
  }

  ul {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;

    li {
      display: table;
      height: 100%;

      // TODO: add transition effect for the underline on hovering
      &:hover {
        border-bottom: $toolbar-underline solid $primary;
        padding-top: $toolbar-underline;

        cursor: pointer;
      }

      a {
        display: table-cell;
        padding: 0 15px;
        vertical-align: middle;
        height: 100%;

        &:hover {
          // border-bottom: $toolbar-underline solid $primary;
          // padding-top: $toolbar-underline;
        }
      }
    }
  }
}
