<div class="wrapper-signin">
  <div class="design-side">
    <h4>Left side with some design</h4>
  </div>
  <div class="signin-side">
    <form
      class="signin-form"
      autocomplete="false"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit($event)"
    >
      <fieldset>
        <legend>Email</legend>
        <div class="input-group">
          <input
            type="email"
            name="email"
            placeholder="Email"
            formControlName="email"
            required
          />
          <span *ngIf="submitted && signInForm.invalid" class="error-messages">
            <small
              *ngIf="
                signInForm.controls.email.errors &&
                signInForm.controls.email.errors.required
              "
              >You should use your acount email address to sign in</small
            >
            <small
              *ngIf="
                signInForm.controls.email.errors &&
                signInForm.controls.email.errors.invalidEmail &&
                signInForm.controls.email.value.length
              "
              >{{ signInForm.controls.email.errors.invalidEmail }}</small
            >
          </span>

          <ul *ngIf="!submitted && errors.length > 0">
            <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </div>
      </fieldset>

      <fieldset>
        <legend>Password</legend>
        <div class="input-group">
          <input
            type="password"
            name="pwd"
            placeholder="Password"
            formControlName="pwd"
            required
          />

          <span *ngIf="submitted && signInForm.invalid" class="error-messages">
            <small
              *ngIf="
                signInForm.controls.pwd.errors &&
                signInForm.controls.pwd.errors.required
              "
              >You should use your password</small
            >
          </span>
        </div>
      </fieldset>

      <button id="submit-signin">Sign In</button>
    </form>
  </div>
</div>
