/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import "./scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // TODO: Add mixings for prefixes
  -webkit-user-select: none;

  list-style: none;
}

body {
  font-family: "-apple-system", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  font-size: $font-size;
  line-height: $font-size;
  height: 100%;
  color: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
